/*=============================
  ===== common css starts =====
===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/*===========================
  ===== common css ends =====
=============================*/
/* ==========================
===== services css ends =====
============================= */
#services {
  background: #111111;
  padding-top: 80px;
  padding-bottom: 80px;
}
#services .text-area h6 {
  color: #888888;
  padding-left: 100px;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}
#services .text-area h6::before {
  content: '';
  height: 1px;
  width: 60px;
  background: #df0a80;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
#services .text-area h1 {
  font-weight: 700;
  font-size: 48px;
}
#services .text-area h1 span {
  color: #df0a80;
}
#services .text-area p {
  margin-top: 20px;
  font-size: 14px;
  padding-right: 170px;
}
#services .button-area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
#services .button-area a {
  border: 1px solid #fff;
  padding: 12px 50px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  transition: all linear 0.4s;
}
#services .button-area a:hover {
  background: linear-gradient(90deg, var(--c1, #fd0988), var(--c2, #7237BD) 51%, var(--c1, #fd0988)) var(--x, 100%)/200%;
  border-color: transparent;
}
#services .items-area {
  margin-top: 100px;
}
#services .items-area .item {
  background: #17173d;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
#services .items-area .item:hover {
  background: linear-gradient(45deg, #FD0988, #7237BD);
}
#services .items-area .item .icon i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  background: #ffffff;
  height: 80px;
  width: 80px;
  border-radius: 15px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: all linear 0.4s;
}
#services .items-area .item .icon i:hover {
  background: #fb0787;
  color: #fff;
}
#services .items-area .item h4 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
}
#services .items-area .item p {
  font-size: 14px;
  color: #b6b6b6;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* ============================
===== services css starts =====
=============================== */
/* ==============================
===== responsive css starts =====
================================= */
/* ===== For Small Device =====  */
@media (min-width: 576px) and (max-width: 767px) {
  #services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #services .text-area h6 {
    padding-left: 100px;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
  }
  #services .text-area h6::before {
    content: '';
    height: 1px;
    width: 60px;
    background: #df0a80;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  #services .text-area h1 {
    color: #FD0988;
    font-weight: 700;
    font-size: 48px;
  }
  #services .text-area h1 span {
    color: #df0a80;
  }
  #services .text-area p {
    margin-top: 20px;
    font-size: 14px;
    padding-right: 100px;
  }
  #services .button-area {
    margin-top: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #services .button-area a {
    border: 1px solid #fff;
    padding: 12px 50px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    transition: all linear 0.4s;
  }
  #services .button-area a:hover {
    background: linear-gradient(90deg, var(--c1, #fd0988), var(--c2, #7237BD) 51%, var(--c1, #fd0988)) var(--x, 100%)/200%;
    border-color: transparent;
  }
  #services .items-area {
    margin-top: 100px;
  }
  #services .items-area .item {
    background: #17173d;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  #services .items-area .item:hover {
    background: linear-gradient(45deg, #FD0988, #7237BD);
  }
  #services .items-area .item .icon i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    background: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition: all linear 0.4s;
  }
  #services .items-area .item .icon i:hover {
    background: #fb0787;
    color: #fff;
  }
  #services .items-area .item h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
  }
  #services .items-area .item p {
    font-size: 14px;
    color: #b6b6b6;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
/* ===== For Medium Device =====  */
@media (min-width: 768px) and (max-width: 991px) {
  #services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #services .text-area h6 {
    padding-left: 100px;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
  }
  #services .text-area h6::before {
    content: '';
    height: 1px;
    width: 60px;
    background: #df0a80;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  #services .text-area h1 {
    font-weight: 700;
    font-size: 48px;
  }
  #services .text-area h1 span {
    color: #df0a80;
  }
  #services .text-area p {
    margin-top: 20px;
    font-size: 14px;
    padding-right: 300px;
  }
  #services .button-area {
    margin-top: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #services .button-area a {
    border: 1px solid #fff;
    padding: 12px 50px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    transition: all linear 0.4s;
  }
  #services .button-area a:hover {
    background: linear-gradient(90deg, var(--c1, #fd0988), var(--c2, #7237BD) 51%, var(--c1, #fd0988)) var(--x, 100%)/200%;
    border-color: transparent;
  }
  #services .items-area {
    margin-top: 100px;
  }
  #services .items-area .item {
    background: #17173d;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  #services .items-area .item:hover {
    background: linear-gradient(45deg, #FD0988, #7237BD);
  }
  #services .items-area .item .icon i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    background: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 15px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transition: all linear 0.4s;
  }
  #services .items-area .item .icon i:hover {
    background: #fb0787;
    color: #fff;
  }
  #services .items-area .item h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
  }
  #services .items-area .item p {
    font-size: 14px;
    color: #b6b6b6;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
/* ============================
===== responsive css ends =====
=============================== */
